@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.top__pockemon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  @media (max-width: 767px) {
    .top__pockemon {
      width: 280px;
      height: 280px; } }

.top__keyvisual {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: saturate(180%) blur(5px);
  background-image: linear-gradient(135deg, #00bee1 0%, rgba(0, 240, 145, 0.25) 100%); }

.top__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: end;
      -ms-flex-align: end;
          align-items: end;
  height: 100%; }

.top__tw {
  background-color: #ff3399;
  margin: 21px 0px;
  padding: 4px 16px; }
  .top__tw a {
    font-size: 80px;
    font-size: 5rem;
    color: white; }

.top__copy {
  color: white;
  font-size: 32px;
  font-size: 2rem;
  background-color: black;
  padding: 4px 16px; }

.top__home {
  color: white;
  font-size: 24px;
  font-size: 1.5rem;
  background-image: linear-gradient(90deg, #ff964b 0%, #ff417d 100%);
  padding: 4px 16px;
  margin: 16px 0px; }
  .top__home a {
    color: white; }

html {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, sans-serif; }
  @media (max-width: 767px) {
    html {
      font-size: 10px; } }
