.l-about {
  $block: &;

  &:not(:root) {
    width: 90%;
    max-width: 1100px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    margin-top: 120px;

    @include sp-layout {
      margin: 80px auto 0;
    }
  }

  & &__title {
    color: #979797;
    font-size: 1.2rem;
    font-weight: 300;

    @include pc-layout {
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-90deg) translateX(-30%);
    }

    @include sp-layout {
      text-align:  center;
    }
  }

  & &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  & &__item {
    width: 42%;
    margin: 30px;

    @include sp-layout {
      width: 100%;
      margin: 30px 0 0;
    }
  }

  & &__caption {
    margin-top: 30px;
  }

  & &__logos {
    display: flex;
    margin-top: 60px;

    @include sp-layout {
      justify-content: center;
    }
  }

  & &__logo-img {
    @include sp-layout {
      width: 75%;
    }
  }

  & &__logo {
    @include pc-layout {
      padding-left: 60px;
    }
  }

  & &__logo:not(:first-child) {
    @include pc-layout {
      margin-left: 138px;
    }
  }

  & &__item:nth-child(odd) {
    @include pc-layout {
      margin-left: 0;
    }
  }

  & &__item:nth-child(even) {
    @include pc-layout {
      margin-right: 0;
    }
  }

  @include pc-layout {
    #{$block}__item:nth-child(n-2) {
      margin-top: 0;
    }

    #{$block}__item:nth-child(n+3) {
      margin-top: 60px;
    }
  }
}
