.l-header {
  $block: &;

  &:not(:root) {
    width: 90%;
    margin: 0 auto;
  }

  & &__icon {
    width: 52px;
  }

  & &__item {
    margin: 0 35px;
  }

  & &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 1100px;
  }

  .only-sp {
    &#{$block}__items {
      margin: 60px auto 0;
    }

    #{$block}__item:nth-child(1) {
      margin: 0;
    }

    #{$block}__item:first-child {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .only-pc {
    &#{$block}__items {
      margin: 100px auto 0;
    }

    #{$block}__item:nth-child(2) {
      margin-right: auto;
    }

    #{$block}__item:nth-child(4) {
      margin-left: auto;
    }
  }
}
