extends /layout/_application

block content
  header.l-header
    ul.l-header__items.only-sp
      li.l-header__item
        img.l-header__menu(src='./images/menu.svg', alt='')
      li.l-header__item
        a(href='#')
          img.l-header__icon(src='./images/avatar.png', alt='')
    ul.l-header__items.only-pc
      li.l-header__item
        a(href='#') WORKS
      li.l-header__item
        a(href='#') ABOUT
      li.l-header__item
        a(href='#')
          img.l-header__icon(src='./images/avatar.png', alt='')
      li.l-header__item
        a(href='#') LINKS
      li.l-header__item
        a(href='#') CONTACTS
  section.l-hero
    h1.l-hero__title
      | Motivation Is The First Step To
      span.l-hero__highlight Success
    ul.l-hero__icons
      li.l-hero__icon
        img(src='./images/twitter.svg', alt='')
      li.l-hero__icon
        img(src='./images/be.svg', alt='')
      li.l-hero__icon
        img(src='./images/insta.svg', alt='')
  section.l-works
    h1.l-works__title WORKS
    ul.l-works__items
      li.l-works__item
        .l-works__caption
          ul.tags
            li.tags__item Featured
          h2.l-works__label Motivation Is The First Step To Success
      li.l-works__item
        .l-works__caption
          h2.l-works__label How Great Is The Strength Of Your Belief
      li.l-works__item
        .l-works__caption
          h2.l-works__label Benjamin Franklin S Method Of Habit Formation
      li.l-works__item
        .l-works__caption
          ul.l-tags
            li.l-tags__item Featured
          h2.l-works__label Increasing Prosperity With Positive Thinking
  section.l-about
    h1.l-about__title ABOUT
    ul.l-about__items
      li.l-about__item
        h2.l-about__label UX/UI
        p.l-about__caption
          | Of course, motivation really isn’t simple at all. That is why there is multi-billion industry
          | focused on self-help books, tapes, seminars, camps, and coaches.
      li.l-about__item
        h2.l-about__label Motion
        p.l-about__caption
          | As humans, we have progressed in so many ways, but we have lost touch with our bodies, nature,
          | and the power of prayer. There seems to be a spiritual renaissance, of sorts, going on in the
          | “new age” movement.
      li.l-about__item
        h2.l-about__label Branding
        p.l-about__caption
          | If at anytime, you notice that a friend of yours is getting demotivated l-about life, try to
          | inspire him/her as much as you can. Even if you are physically away from your friend you can
          | send him inspirational ecards and tell him to download motivational screensavers and
          | wallpapers. So motivate everyone who needs the boost.
      li.l-about__item
        h2.l-about__label Development
        p.l-about__caption
          | Personally, the importance does not lie in what religion you are; however, a lack of religion
          | does seem to run parallel with depression. This is classified as spiritual illness, which will
          | have a negative effect on you mentally, physically, or totally.
    ul.l-about__logos
      li.l-about__logo
        img.l-about__logo-img(src='./images/google.svg', alt='')
      li.l-about__logo
        img.l-about__logo-img(src='./images/airbnb.svg', alt='')
      li.l-about__logo
        img.l-about__logo-img(src='./images/dropbox.svg', alt='')
  section.l-links
    h1.l-links__title LINKS
    ul.l-links__items
      li.l-links__item
        a.l-links__link(href='') Harness The Power Of Words In Your Life
        span.l-links__year 2018
      li.l-links__item
        a.l-links__link(href='') Harness The Power Of Words In Your Life
        span.l-links__year 2018
      li.l-links__item
        a.l-links__link(href='') Harness The Power Of Words In Your Life
        span.l-links__year 2018
      li.l-links__item
        a.l-links__link(href='') Harness The Power Of Words In Your Life
        span.l-links__year 2018
      li.l-links__item
        a.l-links__link(href='') Harness The Power Of Words In Your Life
        span.l-links__year 2018
      li.l-links__item
        a.l-links__link(href='') Harness The Power Of Words In Your Life
        span.l-links__year 2018
      li.l-links__item
        a.l-links__link(href='') Harness The Power Of Words In Your Life
        span.l-links__year 2018
  section.l-contact
    h1.l-contact__title Contacts
    .l-contact__content
      .l-contact__caption
        p.l-contact__caption-text
          | Positive pleasure-oriented goals are much more powerful motivators than negative fear-based
          | ones.
        ul.l-contact__sns-icons
          li.l-contact__sns-icon
            img.l-contact__sns(src='./images/twitter.svg', alt='')
          li.l-contact__sns-icon
            img.l-contact__sns(src='./images/be.svg', alt='')
          li.l-contact__sns-icon
            img.l-contact__sns(src='./images/insta.svg', alt='')
      .l-contact__form
        form(action='')
          .l-contact__form-box
            label.l-contact__label(for='name') NAME
            input.l-contact__text(type='text', placeholder='Incognito')
          .l-contact__form-box
            label.l-contact__label(for='name') E-Mail
            input.l-contact__text(type='text', placeholder='incognito@gmail.com')
          .l-contact__form-box
            label.l-contact__label(for='name') Message
            textarea.l-contact__text(name='', id='', cols='30', rows='10', placeholder='Your question or suggestion')
      .l-contact__send
        img.l-contact__send-icon(src='./images/send.svg', alt='')
  l-footer.l-footer
    p.l-footer__copyrite Copyright © 2018 Denis Abdullin – deab.ru
    ul.l-footer__links
      li.l-footer__link Invoicing
      li.l-footer__link Documents
